.misProducto{
 width: 50%;
 height: 460px;

}
.misProducto__titulo{
 font-size: 2em;
 margin-bottom: 15px;
}
.misProducto__contenedor__card{
    width: 100%;
    height: 100%;
    border: solid black;
    overflow: auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 55px;
}